
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,100&display=swap');
.flex-direction-col {
    flex-direction: column;
  }
  .flex-direction-col-row {
    flex-direction: column;
  }
  .flex-direction-row-col {
    flex-direction: row;
  }
  .flex-view {
    display: flex;
  }
  .flex-direction-row {
    flex-direction: row;
  }
  .justify-content-c {
    justify-content: center;
  }
  .justify-content-b {
    justify-content: space-between;
  }
  .justify-content-a {
    justify-content: space-around;
  }
  .carbotext-svg{
    width: 69px !important;
    padding-left: 124px !important;
  }
  .app-text{
    font-weight: bold;
    margin-left: 27px;
    font-size: 31px;
    font-family: 'Raleway';
    /* font-weight: bold; */
    font-style: normal;
    font-weight: 600;

  }
  .circule{
    color: #B7BFDD !important;
    font-size: 14px !important;
    margin-left: 40px !important;
  }
  .hr{
    /* width: 669px;
    color: #B7BFDD;
    border-bottom: 2px solid #B7BFDD; */
    height: 1px;
    width: 529px;
    background-image: linear-gradient(to right, #b7bfdd, 75%, rgba(183, 191, 221, 0));
    margin-top: 10px;
  }
  .our-team-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #9093A2;
    margin-top: 17px;
    margin-bottom: 10px;
    width: 920px;
    margin-left: 8rem;
    /* font-size: 21px !important; */
    font-family: 'Raleway';
  }
  .ticket{
    /* margin-left: 6rem; */
    margin-top: 37px;
    /* width: 832px; */
    /* height: 394px; */
    position: relative;
    border-radius: 4px;
    height: 357px;
    /* width: 595px; */
    width: 855px;
  }
  .explore-contianer{
    position: absolute;
    right: 36%;
    top: 271%;
    width: 306px;
  }
  .explore-icon{
    height: 55px;
    width: 55px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.25);
    padding: 5px;
  }
  .ticket-booth-heading{
    text-overflow: ellipsis;
    font-size: 24px;
    color: #fff;
    margin-top: 11px;
    font-family: 'Raleway';
    font-weight: bold;
  }
  .explore-content{
    width: 305px;
    font-size: 18px;
    margin-top: 25px;
    color: #fff;
    line-height: 25px;
    font-family: 'Raleway';

  }
  .explore-button{
    width: 165px;
    height: 37px;
    font-size: 26px;
    color: #ffff;
    border: none;
    background-color: transparent;
    text-align: right;
    margin-left: 8rem;
    margin-top: 1rem;
  }
  
  .fair-phone-container{
    border: 2px solid #80808038;
    width: 368px;
    height: 386px;
    margin-top: 38px;
    margin-left: 16px;
    border-radius: 5px;
  }
  .fair-img{
    width: 68px;
    border-radius: 18px;
    padding: 14px;
  }
  .fair-img-heading{
    font-size: 27px;
    color: black;
    margin-left: 12px;
    margin: 0px auto;
    margin-left: 12px;
    font-weight: bold;
    font-family: 'Raleway';
    width: 378px;

  }
  .fair-content{
    font-size: 18px;
    line-height: 32px;
    padding: 10px;
    color: gray;
    /* font-size: -webkit-xxx-large; */
    margin: 0px auto;
    font-family: 'Raleway';
  }
.fair-explore-button{
  width: 163px;
  font-size: 24px;
  margin-top: 17px;
  border: none;
  background-color: transparent;
}
.shadow-green{
  -webkit-box-shadow: 0px 25px 25px -15px #00b0c2;
  box-shadow: 0px 25px 25px -15px #00b0c2;
  background: #00B0C2 !important;
  border: 0px !important;


}
.fair-phone-container:hover:hover{

  -webkit-box-shadow: 0px 25px 25px -15px #00b0c2;
  box-shadow: 0px 25px 25px -15px #00b0c2;
  background: #00B0C2 !important;
  border: 0px !important;
  color: white;

}

.fair-phone-container:hover .fair-img-heading{
  color: white;
}
.fair-phone-container:hover .fair-content{
  color: white;
}
.fair-phone-container:hover .fair-explore-button{
  color: white;
}
.custom-broject-container{
  width: 1159px;
  border: 2px solid #f6f2f2;
    margin-left: 6rem;
    margin-top: 30px;
    height: 203px;
    border-radius: 5px;
}
.custom-project-first-heading{
  font-size: 29px;
    font-weight: bold;
    margin-left: 7rem;
    margin-bottom: 13px;
    font-family: 'Raleway';
    margin-top: 66px;
    

}
.integration-text{
  margin-left: 7rem;
    margin-top: 0px;
    font-size: 22px;
    color: #8080809c;
    font-family: 'Raleway';
}
.left-button{
  border: 1.5px solid #00B0C2;
  border-radius: 4px;
  box-shadow: 0 3px 15px 0px #00b0c24d !important;
  height: 40px;
  width: 150px;
  color: #00B0C2;
  background-color: transparent;
  font-family: 'Raleway';
  margin-right: 5rem;
}
.custom-broject-container:hover{
  -webkit-box-shadow: 0px 25px 25px -15px #00b0c2;
  box-shadow: 0px 25px 25px -15px #00b0c2;
  background: #00B0C2 !important;
  border: 0px !important;
  color: white;
  transition: all 0.35s ease-Out;
  

}
.custom-broject-container:hover .left-button{
  background-color: #fff;
}
.custom-broject-container:hover .integration-text{
  color: #fff;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #00b0c2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0px 25px 25px -15px #69caf7;
}


